<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}
            <h1>{{myVariable}}</h1>
            <div className='App'>
            <a href='http://localhost:8888'>
                <button type="button" class="btn btn-success">Login to Spotify</button>
            </a>
            </div>

        {% endblock %}
        {% block javascripts %}{% endblock %}
        <script>
            console.log('hello from the console !')
        </script>
    </body>
</html>
